*{
    
    margin: 0px;
    padding: 0px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifl;
}
body{
    background-color: black;
}
i{
    color: white;
}
.nav{
    border: 2px solid black;
    display:flex;
    height: 60px;
    padding-left: 18px;
    padding: 4px 0px 4px 18px;
    justify-content: space-between;
}
.left-head{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 45px;
}
.search{
    display: flex;
    align-items: center;
    height: 60px;
}
.ww{
    background-color: #1F1F1F;
}
.input-search{
    background-color: #1F1F1F;
    border: none;
    padding: 15px;
}
input{
    width: 250px;
}
.ico{
    background-color: #1F1F1F;
    padding: 22px;
    border-start-start-radius: 25px;
    border-bottom-left-radius: 25px;

}
.icb{
    background-color: #1F1F1F;
    padding: 22px;
    border-start-end-radius: 25px;
    border-bottom-right-radius:25px;
}
.input-search::placeholder{
    color: white;
    font-size: 18px;
}
.right-head{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 45px;
    height: 60px;
}
.lgnbutton{
    background-color: white;
    padding: 10px 20px 10px 20px;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    margin-left: 18px;
}
.head-items{
    color: #B3B3B3;
    margin-right: 12px;
    font-weight: bold;
}
.down-ico{
    color: #B3B3B3;
}

/* main style */
.main{
    display: grid;
    grid-template-columns: 4fr 8fr;
    /* border: 1px solid red; */
    height: 80vh;
}
/* .main-left{ */
    /* border: 1px solid goldenrod; */
/* } */
.aside-header{
    /* border: 1px solid greenyellow;   */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 20px;
}
.create-button{
    border: none;
    background-color: #1F1F1F;
    padding: 9px 20px 9px 0px;
    border-radius: 0%;
}
.plus-icon{
    color: #B3B3B3;
    background-color: #1F1F1F;
    padding: 7px;
}
.left-aside{
     background-color: #1F1F1F;
}
.aside-main{
    height: 300px;
    overflow-y: scroll;
}

.aside1{
    background-color: #1F1F1F;
    height: 140px;
    margin: 10px;
    padding-top: 10px;
    border-radius:25px;
}
.aside2{
    background-color: #1F1F1F;
    height: 140px;
    margin: 10px;
    padding-top: 10px;
    border-radius:25px;
}
.clr{
    background-color: #1F1F1F;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 4px 10px 15px 18px;
    font-size: 20px;
}
.clrp{
    background-color: #1F1F1F;
    margin: 5px 10px 15px 18px;
    font-size: 16px;
}
.btn-play{
    padding: 10px;
    border-radius: 18px;
    border: none;
    margin: 4px 10px 15px 18px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.aside-foot{
    padding: 25px 0px 0px 25px;
}
.aside-foot-txt{
    color: #B3B3B3;
    font-size: 14px;
    margin-top: 25px;
}
.ft-txt{
    margin-left: 25px;
}
.btn-lang{
    margin: 25px 0px 0px 25px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 18px;
    border: none;
    background-color: white;
    color: black;
}

/* main right */
/* .main-right{
   /* border: 1px solid greenyellow; 
} */

.main-cntnt-bg{
    background-color: #1F1F1F;
    height: 78vh;
    margin: 10px;
    border-radius: 25px;
    overflow-y: scroll;

}
.trndng-f{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    background-color: #1F1F1F;
    padding-top:15px;
    padding-bottom: 10px;
}
.clrs{
    background-color: #1F1F1F;
}
.cards-space{
    height: 260px;
    /* border: 1px solid green; */
    background-color: #1F1F1F;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.card{
   height: 260px;
   width: 170px;
   /* border: 1px solid red; */
   background-color: #1F1F1F;
}
.img{
    height: 180px;
    width: 170px;
    border-radius: 25px;
}
.title{
    background-color: #1F1F1F;
    /* padding: 10px; */
}
.song-title{
    background-color: #1F1F1F;
    padding-top: 5px;
}
.song-author{
    background-color: #1F1F1F;
    padding-top: 5px;
}
img{
    border-radius: 5px;
}
.pop-artist{
    border-radius: 100px;
}
.footer{
    display: grid;
    grid-template-columns:  3fr 3fr 3fr 3fr 3fr; 
    /* padding-top: 15px; */
    border-top: 1px solid #B3B3B3;
    background-color: #1F1F1F;
    padding: 20px 0px 20px 20px;
}

ul li{
    list-style: none;
}
.foo-items{
    background-color: #1F1F1F;
    padding: 8px;
    color: #B3B3B3;
}
.icos{
    padding-top: 8px;
}
.gradient{
    height: 9vh;
   
}
.ft{
   height: 9vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 28px 0px 28px;
    align-items: center;
    background-image: linear-gradient(red blue);
}
.sgn{
    border: none;
    color: black;
    background-color: white;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
}
.gradient{
    background-image: linear-gradient(90deg, #af2896, #509bf5);
}